

body {

padding: 50px 20%;

}

h1, h2, h3, strong, b {

    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px inset lightslategray;
}

hr {
    color: lightslategray;
    border:1px dotted;
    width: 50%;
}

p {
    font-family: Georgia, serif;
    font-style: italic;
    color: darkslateblue;
    text-align: justify;

}
h1 {
    text-transform: uppercase;
}

#big-acheivement {
    color: red;
}