body {

padding-left: 20%;
padding-right: 20%;


}

h1, h2, h3, strong, b {

    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px inset lightslategray;
}

hr {
    color: lightslategray;
    border:1px dotted;
    width: 50%;
}

p {
    font-family: Georgia, serif;
    color: darkslateblue;
}